<mat-card class="container">
  <div mat-card-avatar class="avatar"> <mat-icon>insert_drive_file</mat-icon></div>
  <div class="details-container">
    <p class="break-word"><span class="grey">Hash: </span>{{details.hash}}</p>
    <p><span class="grey">Date: </span>{{details.date}}</p>
    <p><span class="grey">Type: </span>{{details.type}}</p>
    <p><span class="grey">Size: </span>{{details.size}} bytes</p>
    <p class="break-word"><span class="grey">Account: </span>{{details.account}}</p>
  </div>

</mat-card>

