
.form-container{
  display: grid;
  justify-content: center;
  row-gap: 20px;
  margin-top: 40px;

}

.form-component{
  margin: 0 auto;
}

.show-document{
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-document-button{
  margin-left: 20px;
}

.message-container{
  display: grid;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: -20px;
}

.success-message{
  text-align: center;
  color: forestgreen;

  font-size: medium;
}
